fastapi
pydantic
sqlalchemy
psycopg2-binary
uvicorn[standard]
python-multipart
python-jose
rioxarray
python-dotenv
alembic
fiona
gunicorn
lxml
rasterstats
flower
python-decouple
requests
openpyxl
fastapi-pagination
geopandas
selenium
tqdm
rasterio
matplotlib
contextily
fastapi
sqlalchemy
uvicorn[standard]
sqlalchemy
psycopg2-binary
alembic
bcrypt
passlib[bcrypt]
python-jose[cryptography]
python-dotenv
pydantic[email]
pydantic_settings
python-multipart
python-decouple
pyjwt[crypto]
pyjwt
redis[hiredis]
aiosmtplib
fastapi-mail==1.5.7
pyotp
datashader
reportlab
celery 
redis
websockets
scipy
jenkspy
cartopy
celery-progress
bs4